# Identifiants sur la plateforme d'hébergement Mongo Atlas
MONGODB_ATLAS_URI=mongodb+srv://UTILISATEUR:MOT_DE_PASSE@CLUSTER.mongodb.net/?appName=Cluster0
MONGO_DB=jobmarket

# Identifiants de l'API locale
API_USERNAME=utilisateur
API_PASSWORD=mot_de_passe_a_modifier